<# Frontend
node_modules/
dist/
.vscode/

# Backend
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/

### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.metadata/
bin/